<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Community team</title>
  </head>
  <body>
    <b>This is the Community Team Page</b>
    <ul>
      <li>Micah Gray</li>
      <li>Joby Foster</li>
      <li>Caleb Horn</li>
      <li>Abigail Usener</li>
      <li>AJ Gilliland</li>
      <li>Jordan Donahue</li>
    </ul>
    <p></p>
  </body>
</html>
