<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Documentation team</title>
  </head>
  <body>
    <b>This is the Documentation Team Page</b>
    <ul>
      <li>Mina Sanford</li>
      <li>Jaquan Williams</li>
      <li>Joshua Wadley</li>
      <li>Blair Johnson</li>
      <li>Kayleah Daniels</li>
      <li>Kaleigh Garcia</li>
      <li>Conner Cleland</li>
    </ul>
    <p>
      Documentation team, as you can probably guess, document Base Camp Coding
      Academy. They do so by performing mock interviews with students, taking
      pictures of the events we participate in, and then posting them on the
      desired BCCA social media page.
    </p>
  </body>
</html>
