{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static "styles.css" %}" >
  </head>
  <body>
    <header><a href="/">BCCA LPs</a></header>
    <div id="main">
      <div class="left">
        <h1 class="heading">
          <u>Base Camp Coding Academy Leadership Project Teams</u>
        </h1>
        <p>BCCA uses leadership project teams to encourage students to become professional and dependable team leaders and teammates.</p>
      </div>
      <div class="right">
        <div href="/team/management" class="team management"><a href="/team/management">Management Team</a></div>
        <div class="team procurement"><a href="/team/procurement">Procurement Team</a></div>
        <div class="team documentation"><a href="/team/documentation">Documentation Team</a></div>
        <div class="team community"><a href="/team/community">Community Team</a></div>
        </ul>
      </div>
    </div>

    <footer></footer>
  </body>
</html>
