<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Management Team</title>
  </head>
  <body>
    <b>This is the Management Team Page</b>
    <ul>
      <li>Matthew Hays</li>
      <li>Nicholas Gordon</li>
      <li>Owen Cotten</li>
      <li>Jeremiah Flowers</li>
      <li>Ab McCullough</li>
    </ul>
    <p>
      Management team's job is to keep students on schedule during class,
      chores, and other activities. They build the schedules themselves and are
      supposed to guide us based on them.
    </p>
  </body>
</html>
