<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ team.name }}</title>
  </head>
  <body>
    <h1>
      <u>{{ team.name }} Team</u>
    </h1>
    <h1><u>Description:</u></h1>
    <p>{{ team.description }}</p>
    <h1><u>Members:</u></h1>
    <ul>
      {% for member in team.members %}
      <li>{{ member }}</li>
      {% endfor %}
    </ul>
  </body>
</html>
